<a href="https://colab.research.google.com/github/Khambounma/phantichdulieu/blob/main/Thi_cau2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Cau 2**

In [7]:
#cau a

student_data = pd.DataFrame({ 'school_code': ['s001','s002','s003','s001','s002','s004'], 'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'], 'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'], 'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'], 'age': [12, 12, 13, 13, 14, 12], 'height': [173, 192, 186, 167, 151, 159], 'weight': [35, 32, 33, 30, 31, 32], 'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']}, index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])

In [10]:
new_data = student_data.groupby("school_code")["age"].agg("mean")
print(new_data)

school_code
s001    12.5
s002    13.0
s003    13.0
s004    12.0
Name: age, dtype: float64

In [11]:
#cau b
print(new_data)
pivot_tab = pd.pivot_table(data=student_data, columns = 'school_code', aggfunc= ['mean', 'max', 'min'])
print(pivot_tab)

school_code
s001    12.5
s002    13.0
s003    13.0
s004    12.0
Name: age, dtype: float64
                 mean                                max                \
school_code      s001   s002   s003   s004          s001          s002
age              12.5   13.0   13.0   12.0            13            14
height          170.0  171.5  186.0  159.0           173           192
weight           32.5   31.5   33.0   32.0            35            32
address           NaN    NaN    NaN    NaN       street1       street2
class             NaN    NaN    NaN    NaN            VI             V
date_Of_Birth     NaN    NaN    NaN    NaN    25/09/1998    17/05/2002
name              NaN    NaN    NaN    NaN  Eesha Hinton  Gino Mcneill

                                                      min                \
school_code            s003          s004            s001          s002
age                      13            12              12            12
height                  186           159             167           151
weight                   33            32              30            31
address             street3       street4         street1       street2
class                    VI            VI               V             V
date_Of_Birth    16/02/1999    15/09/1997      15/05/2002    11/05/2002
name            Ryan Parkes  David Parkes  Alberto Franco  Gino Mcneill


school_code            s003          s004
age                      13            12
height                  186           159
weight                   33            32
address             street3       street4
class                    VI            VI
date_Of_Birth    16/02/1999    15/09/1997
name            Ryan Parkes  David Parkes